global
    maxconn 75000
    uid 99
    gid 99
    daemon
    #nbproc 4
    ssl-server-verify none
    tune.ssl.default-dh-param 2048
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK
    stats socket /var/run/haproxy.stat mode 600

defaults
    maxconn 70000 # Should be slightly smaller than global.maxconn.
    timeout client 60s   # Client and server timeout must match the longest
    timeout server  10s   # time we may wait for a response from the server.
    #timeout server  2s   # time we may wait for a response from the server.
    timeout queue  60s   # Don't queue requests too long if saturated.
    timeout connect 10s   # There's no reason to change this one.
    #timeout connect 6s   # There's no reason to change this one.
    timeout http-request 9s # A complete request may never take that long.
    # Uncomment the following one to protect against nkiller2. But warning!
    # some slow clients might sometimes receive truncated data if last
    # segment is lost and never retransmitted :
    # option nolinger
    option http-server-close
    option httpclose
    option allbackups
    option abortonclose
    balance roundrobin
    retries 3
    option      redispatch
    errorfile       504     /root/hatim/ad4game.haproxy.response.js

frontend  ads_ad4game_com_80 
    mode http
    bind {{ ansible_default_ipv4.address }}:80
    bind {{ ansible_default_ipv4.address }}:443 ssl no-sslv3 no-tlsv10 crt /etc/haproxy/ssl/ads.ad4game.com.pem ca-file /etc/haproxy/ssl/ads.ad4game.com.ca.pem

	acl TRACKING url_sub geo.php
	acl TRACKING url_sub tjs.php
	acl TRACKING url_sub ti.php
    acl TRACKING url_sub track.php
	acl TRACKING url_sub ck.php
	acl TRACKING url_sub dck.php
	acl TRACKING url_sub save_reward_video.php
	use_backend ads_ad4game_com_track_80 if TRACKING
	default_backend ads_ad4game_com_deliv_80
    option forwardfor except {{ ansible_default_ipv4.address }}

backend  ads_ad4game_com_deliv_80	
    mode http
	fullconn 60000
	option httpchk GET /chk-webserver.php HTTP/1.0
    server delivery01   {{ hostvars['delivery01']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery02 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery02   {{ hostvars['delivery02']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery02 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery03   {{ hostvars['delivery03']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery03 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery04   {{ hostvars['delivery04']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery04 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery05   {{ hostvars['delivery05']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery05 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
	
    # # # backups # # #
    #server delivery01-backup {{ hostvars['delivery01']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery02_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery02-backup {{ hostvars['delivery02']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery02_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery03-backup {{ hostvars['delivery03']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery03_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery04-backup {{ hostvars['delivery04']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery04_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery05-backup {{ hostvars['delivery05']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_delivery05_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
  
    stats enable
    stats uri /admin/stats
    stats auth admin:quad4400


backend ads_ad4game_com_track_80
    mode http
	fullconn 60000
	option httpchk GET /chk-webserver.php HTTP/1.0
    server  tracking01 {{ hostvars['tracking01']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_tracking01 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 800 maxqueue 250
    server  tracking02 {{ hostvars['tracking02']['ansible_bond0.2001']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_tracking02 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 800 maxqueue 250

	## backups ##
    #server tracking01-backup  {{ hostvars['tracking01']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_tracking01_bu check inter 6000 rise 1 fall 3 weight 11 minconn 200 maxconn 800 maxqueue 250 backup
    #server tracking02-backup  {{ hostvars['tracking02']['ansible_bond0.2000']['ipv4']['address'] }}:80 cookie ha1_ads_ad4game_com_80_tracking02_bu check inter 6000 rise 1 fall 3 weight 11 minconn 200 maxconn 800 maxqueue 250 backup

    stats enable
    stats uri /admin/stats
    stats auth admin:quad4400


frontend  ads_ad4game_com_81 
    mode http
    log global

    bind {{ ansible_default_ipv4.address }}:81
    bind {{ ansible_default_ipv4.address }}:444 ssl no-sslv3 no-tlsv10 crt /etc/haproxy/ssl/ads.ad4game.com.pem ca-file /etc/haproxy/ssl/ads.ad4game.com.ca.pem

	acl TRACKING url_sub geo.php
	acl TRACKING url_sub tjs.php
	acl TRACKING url_sub ti.php
    acl TRACKING url_sub track.php
	acl TRACKING url_sub ck.php
	acl TRACKING url_sub dck.php
	use_backend ads_ad4game_com_track_81 if TRACKING
	default_backend ads_ad4game_com_deliv_81
    option forwardfor except {{ ansible_default_ipv4.address }}

backend  ads_ad4game_com_deliv_81
    mode http
	fullconn 60000
	option httpchk GET /chk-webserver.php HTTP/1.0
    server delivery01   {{ hostvars['delivery01']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery02 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery02   {{ hostvars['delivery02']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery02 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery03   {{ hostvars['delivery03']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery03 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery04   {{ hostvars['delivery04']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery04 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250
    server delivery05   {{ hostvars['delivery05']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery05 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 300 maxqueue 250

    # # # backups # # #
    #server delivery01-backup {{ hostvars['delivery01']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery02_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery02-backup {{ hostvars['delivery02']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery02_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery03-backup {{ hostvars['delivery03']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery03_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery04-backup {{ hostvars['delivery04']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery04_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup
    #server delivery05-backup {{ hostvars['delivery05']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_delivery05_bu check inter 20000 rise 1 fall 3 weight 11 minconn 200 maxconn 300 maxqueue 250 backup

    stats enable
    stats uri /admin/stats
    stats auth admin:quad4400


backend ads_ad4game_com_track_81
    mode http
	fullconn 60000
	option httpchk GET /chk-webserver.php HTTP/1.0
    server  tracking01 {{  hostvars['tracking01']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_tracking01 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 800 maxqueue 250
    server  tracking02 {{  hostvars['tracking02']['ansible_bond0.2001']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_tracking02 check inter 6000 rise 1 fall 5 weight 17 minconn 200 maxconn 800 maxqueue 250

	## backups ##
    #server tracking01-backup  {{  hostvars['tracking01']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_tracking01_bu check inter 6000 rise 1 fall 3 weight 11 minconn 200 maxconn 800 maxqueue 250 backup
    #server tracking02-backup  {{  hostvars['tracking02']['ansible_bond0.2000']['ipv4']['address'] }}:81 cookie ha1_ads_ad4game_com_81_tracking02_bu check inter 6000 rise 1 fall 3 weight 11 minconn 200 maxconn 800 maxqueue 250 backup

    stats enable
    stats uri /admin/stats
    stats auth admin:quad4400
